@import "tailwindcss";

:root {
  --brand-primary: #FE751F;
  --brand-secondary: #EB5903;
  --brand-accent: #ffa804;
  --background: #EB5903;
  --text-main: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text-main);
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);
  --font-display: var(--font-mono-trust);
  --font-sans: var(--font-mono-sans);
}

body {
  background: var(--background);
  color: var(--text-main);
}

